<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add event
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/595/595233.png">

</head>

<body>
    <div>
        <form th:object="${event}" th:action="@{save-event}" action="#" method="post">
            <label for="title">Title</label>
            <input type="text" id="title" th:field="*{title}" />
            <br>
            <label for="description">Description</label>
            <input type="text" id="description" th:field="*{description}" />
            <br>
            <label for="eventtype">Event type</label>

            <select id="eventtypelist" th:field=${event.eventType} class="form-control">
                <option th:each="eventtype : ${eventtypes}" th:value="${eventtype.eventTypeId}"
                    th:text="${eventtype.eventTypeName}">
                </option>
            </select>

            <br>
            <label for="startdate">Start date</label>
            <input type="date" id="startDate" th:field="*{startDate}" />
            <br>
            <label for="starttime">Start time</label>
            <input type="time" id="startTime" th:field="*{startTime}" />
            <br>
            <label for="enddate">End date</label>
            <input type="date" id="endDate" th:field="*{endDate}" />
            <br>
            <label for="endtime">End time</label>
            <input type="time" id="endTime" th:field="*{endTime}" />
            <br>
            <input type="submit" value="Save"></input>
        </form>
    </div>
</body>

</html>