<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Calendar
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/x-icon"
        href="https://icons.iconarchive.com/icons/paomedia/small-n-flat/512/calendar-icon.png">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

</head>

<body>
    <header>
        <div class="col-md-4"></div>
        <p>Now logged in: <span sec:authentication="name"></span></p>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Log Out" />
        </form>
        </div>
    </header>

    <h1 th:text="'Calendar'"></h1>
    <div class="flex-container" style="display: flex; justify-content: space-around; align-items: center;">
        <div style="width: 350px;">
            <h2>October</h2>
            <table class="table table-striped" id="lokakuu">
                <tr>
                    <th>Day</th>
                    <th>Event</th>
                </tr>

                <tr th:each="event : ${events}">
                    <td>
                        <span th:if="${#dates.month(event.startDate) == 10}"
                            th:text="${#dates.format(event.startDate, 'EE d.')}"></span>
                    </td>
                    <td>
                        <span th:if="${#dates.month(event.startDate) == 10}" th:text="${event.title}"></span>
                    </td>
                </tr>
            </table>
        </div>
        <div style="width: 350px;">
            <h2>November</h2>
            <table class="table table-striped" id="marraskuu">
                <tr>
                    <th>Day</th>
                    <th>Event</th>
                </tr>
                <tr th:each="event : ${events}">
                    <td>
                        <span th:if="${#dates.month(event.startDate) == 11}"
                            th:text="${#dates.format(event.startDate, 'EE d.')}"></span>
                    </td>
                    <td>
                        <span th:if="${#dates.month(event.startDate) == 11}" th:text="${event.title}"></span>
                    </td>
                </tr>
            </table>
        </div>
        <div style="width: 350px;">
            <h2>December</h2>
            <table id="joulukuu" class="table table-striped">
                <tr>
                    <th>Day</th>
                    <th>Event</th>
                </tr>

                <tr th:each="event : ${events}">
                    <td>
                        <span th:if="${#dates.month(event.startDate) == 11}"
                            th:text="${#dates.format(event.startDate, 'EE d.')}"></span>
                    </td>
                    <td>
                        <span th:if="${#dates.month(event.startDate) == 11}" th:text="${event.title}"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <a href="/addevent" class="btn btn-primary">Add Event</a>


    <h1 th:text="'Events list'"></h1>
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Startdate</th>
            <th>Start time</th>
            <th>Enddate</th>
            <th>End time</th>
            <th>Event type</th>
            <th></th>
            <th></th>

        </tr>
        <tr th:each="event : ${events}">
            <td th:text="${event.title}">title</td>
            <td th:text="${event.description}">desc</td>
            <td th:text="${#dates.format(event.startDate, 'dd.MM.yyyy')}">startdate</td>
            <td th:text="${event.startTime}">starttime</td>
            <td th:text="${#dates.format(event.endDate, 'dd.MM.yyyy')}">enddate</td>
            <td th:text="${event.endTime}">endtime</td>
            <td th:text="${event.eventType != null ? event.eventType.eventTypeName : ''}">eventtype</td>
            <td>
                <a th:href="@{/edit-event/{id}(id=${event.eventId})}" class="btn btn-primary">Edit</a>
            </td>
            <td>
                <a th:href="@{/delete-event/{id}(id=${event.eventId})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </table>

    <h2>Notes</h2>
    <table class="table table-striped">
        <tr>
            <th>Title
            </th>
            <th>Description
            </th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="note : ${notes}">
            <td th:text=" ${note.title}"></td>
            <td th:text=" ${note.description}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/edit-note/{id}(id=${note.id})}">Edit</a>
            </td>
            <td>
                <a class="btn btn-danger" th:href="@{/delete-note/{id}(id=${note.id})}">Delete</a>
            </td>

        </tr>
    </table>
    <a href="/addnote" class="btn btn-primary">Add Note</a>

</body>

</html>