<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit event
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/x-icon"
        href="https://icons.iconarchive.com/icons/paomedia/small-n-flat/512/calendar-icon.png">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>

    <form action="#" th:action="@{/save-event-edits}" th:object=${event} method="post">
        <input type="hidden" id="id" th:field="*{eventId}" readonly="readonly" />
        <p>Title: <input type="text" th:field="${event.title}" /></p>
        <p>Description: <input type="text" th:field="${event.description}" /></p>
        <label for="eventtype">Event type: </label>
        <select id="eventtypelist" th:field=${event.eventType} class="form-control">
            <option th:each="eventtype : ${eventtypes}" th:value="${eventtype.eventTypeId}"
                th:text="${eventtype.eventTypeName}">
            </option>
        </select>
        <p>Start date: <input type="date" th:field="${event.startDate}" /></p>
        <p>Start time: <input type="time" th:field="${event.startTime}" /></p>
        <p>End date: <input type="date" th:field="${event.endDate}" /></p>
        <p>End time: <input type="time" th:field="${event.endTime}" /></p>

        <input class="btn btn-success" type="submit" value="Save" />
    </form>

</body>

</html>