<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit note
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/595/595233.png">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <style>
        body {
            padding: 1%;
        }
    </style>
</head>

<body>
    <div>
        <form action="#" th:action="@{/save-note-edits}" th:object=${note} method="post">
            <input type="hidden" id="id" th:field="*{id}" readonly="readonly" />
            <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</div>
            <p>Title: <input type="text" th:field="${note.title}" /></p>
            <p>Description: <input type="text" th:field="${note.description}" /></p>
            <input class="btn btn-success"type="submit" value="Save" />
        </form>
    </div>
</body>

</html>